- $categories = get_terms( 'year_exhibitions', array( 'order' => 'DESC' ) )

%ul
  - $i = 0
  - foreach ( $categories as $cat )
    - #todo: better if clause.
    - if ( ($i == 0 && is_page('exhibitions')) || is_tax('year_exhibitions', $cat->slug) )
      - $class = 'active'
    - else
      - $class = 'inactive'
    %li{:class => "#{$class}"}
      %h2= link_to($cat->name, get_term_link($cat->slug, 'year_exhibitions'))
      - $i++
  %li.fill= "&nbsp;"