- $categories = get_terms( 'year' )

%ul
  - foreach ( $categories as $cat )
    %li
      %h2= $cat->name
      %ul
        - $cat_id= $cat->term_id
        - $query= new WP_Query( array('tax_query' => array( array( 'taxonomy' => 'year', 'terms' => $cat_id ) ), 'post_type' => 'works', 'sort' => 'ASC') )
        - while ($query->have_posts())
          - $query->the_post()
            %li= link_to(get_the_title(), get_permalink())
