.exhibitions, .works, .biography
  float: left
  width: 760px

  li
    display: inline-block
    width: 100%

.exhibitions, .biography, .articles
  width: 940px
  font-size: 13px

  li
    header
      float: left
      width: 23%
      margin: 10px 0

    .content
      float: right
      width: 76%

.works
  h3
    @include pink_title
    margin-top: 0

.biography
  .biography-category
    padding-bottom: 20px
    border-bottom: 1px solid #333
    &:last-child
      border: none

    h2
      @include pink_title

    header
      width: 10%

    .content
      width: 90%

.press, .downloads
  li
    border-bottom: 1px solid #333
    margin-bottom: 40px
    &:last-child
      border: none

    h3
      @include pink_title

.articles
  li
    overflow: hidden
    margin: 10px 0
    line-height: 18px
    font-size: 14px
    padding-bottom: 10px
    border-bottom: 1px solid #333

    &:last-child
      border: none

    header
      width: 10%

    .content
      width: 90%

.publication
  .publication-year
    border-bottom: 1px solid #333
    margin-bottom: 40px
    &:last-child
      border: none

    .year-box
      float: left
      width: 10%
      h3
        font-size: 14px

    .post-box
      float: left
      width: 90%

      li
        border-bottom: 1px solid #333
        margin-bottom: 40px
        &:last-child
          border: none

        img
          @include image_border
          padding: 4px
          float: left
          margin: 0 20px 10px 0

        h3
          @include pink_title
          margin-top: 0
