header.site-header
  @include image_border
  padding: 9px
  color: #fff

  .header-image
    background: image-url('header.png') no-repeat
    height: 150px

    a
      color: white
      text-decoration: none

    h1
      font-family: 'Marvel', sans-serif
      font-size: 55px
      margin: 48px 10px
      float: right

    h2
      font-size: 15px
