header.site-header, header.home-header
  overflow: hidden
  padding: 9px
  color: #fff

  a
    color: #efefef
    text-decoration: none

  h1
    float: left
    font-family: 'Marvel', sans-serif
    font-size: 55px
    margin: 5px 10px

  h2
    font-size: 15px

  select#qtrans_select_qtranslate-chooser
    @include image_border
    float: right
    padding: 2px
    color: #d4d4d4
    background: #333

header.home-header

  .enter-homepage
    padding: 20px 0
    float: right
    font-family: 'Marvel', sans-serif
    text-transform: uppercase
    a
      @include image_border
      padding: 6px
      font-size: 24px
      margin-left: 40px
      &:hover
        color: $chiharu_color_light
      &:first-child
        margin-left: 0

  select#qtrans_select_qtranslate-chooser
    display: none
