- $loop = new WP_Query( array( 'post_type' => 'publication', 'posts_per_page' => 10 ) )

#content
  .wrap.clearfix#inner-content
    .eightcol.first.clearfix#main{:role => "main"}
      %ul.news
        - while ($loop->have_posts())
          - $loop->the_post()
          %li= render_partial("posts/news")