- $categories = get_terms( 'year_publications', array( 'order' => 'DESC' ) )

#content
  .wrap.clearfix#inner-content
    .eightcol.first.clearfix#main{:role => "main"}
      .publication
        - foreach ( $categories as $cat )
          .publication-year.clearfix
            .year-box
              %h3= $cat->name
            - $cat_id= $cat->term_id
            - $loop= new WP_Query( array('tax_query' => array( array( 'taxonomy' => 'year_publications', 'terms' => $cat_id ) ), 'post_type' => 'publication', 'order' => 'ASC') )
            .post-box
              %ul
                - while ($loop->have_posts())
                  - $loop->the_post()
                  %li
                    - if (has_post_thumbnail())
                      = the_post_thumbnail()
                    = render_partial("posts/press")

